body{
	background: #ffffff url(images/back.jpg) repeat-x;
/*	background-repeat: repeat-y;*/
	color:#666666;
	font:11px/16px Arial, Helvetica, sans-serif;
	padding:20px 0;
	margin: 0px;
}

#container{
	text-align:left;
	width:800px;
	border:1px solid #000000;
	background-color:#ffffff;
	margin:0 auto;
}

#header{	
	height:130px;
	width:800px;
	background: url(images/cabecera_03.jpg);
/*	background-color:#f49842;*/
	border-color: #fff;
}


#barra{
	float:right;
	background: url(images/barra.png) repeat-x bottom;
	width:100%;
	line-height:normal;
}

#barra ul{
	margin:0;
	padding:10px 10px 0;
	list-style:none;
}

#barra li{
	float:right;
	background: url(images/jeft.gif) no-repeat left top;
	padding:0 0 0 9px;
	margin:0px;
}

#barra a{
	float:none;
	display:block;
	background:url(images/jight.gif) no-repeat right top;
	padding:5px 15px 4px 6px;
	color:gray;
	text-decoration:none;
/*	font-height:bold;*/
}

#barra a:holver{
	color:#000;
}

#barra #current{ 
	background-image:url(images/jeft_on.gif);
}


#barra #current a{
	background:#E7F1F8 url(images/jight_on.gif) no-repeat right top;
	color:black;
	padding-bottom:5px;
}

h1{
	font-size:18px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#f49842;
	padding:22px
}

h2{
	color:#1E90FF;
	font-size:14px;
	text-transform:uppercase;
}

#menu{
	width:120px;
/*	margin-top:10px;*/
	float:left;
	background-color:#ffffff;
}

#menu ul{
	padding:0;
	margin:10px;
}

#menu li{
	list-style-type:none;
	display:block;
	border-bottom:1px solid #DDDDDD;
	color:#1E90FF;
	margin:2px;
	padding:0px;
}
#menu li img{
	list-style-type:none;
	border:none;
}


#body{
	width:460px;
	height: auto;
	margin-left:8px;
	padding:12px 0px 10px 0px;
	background-color: #ffffff;
	float:left;
}

#colleft{
	width:215px;
	height: auto;
	margin-left: 8px;
	padding:12px 0px 10px 0px;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
        /* border-left: 1px solid #cccccc; */
	float: left;
}

#colright{
	width:215px;
	height: auto;
	margin-right:8px;
	padding:12px 0px 10px 0px;
	background-color: #ffffff;
	float: right;
	border: 1px;
}

#right{
	float:right;
	width:200px;
	color: #666666;
/*	background: url(images/rightbg.gif);*/
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
/*	padding-right:15px;
	text-align:justify;*/
}

.titright{
/*	background-color:#68729E;*/
	background:url(images/rightbg.gif);
	color:#000000;
	font-size:8pt;
	text-transform : uppercase;
	padding: 7px 3px 7px 8px;
	font-weight : normal;
	letter-spacing : 2px;
	margin: 0px 0px 8px 0px;
}

.bodyright{
	padding:5px 4px 13px 10px;
}

	

a{
	color: #f49842;
	text-decoration:none;
	text-transform:lowercase;
	font-weight:bold;
	font-size:10px;
}

a:visited{
/*	color: #90A181;*/
	color:#f49842;
	text-decoration:none;
}

a:hover{
	color: #375020;
}


abbr, acronym, .help {
       border-bottom: 1px dashed #000;
       cursor: help;
}

img{
	border: 0px; 
/*	float:left;
	clear:both;*/
}

#footer{
	clear:both;
	color:#cccccc;
	text-align:right;
	font-size:14px;
	margin: 10px 10px 0px 10px;
	border-top:1px solid #000;
	padding-bottom:10px;
}

#footer p{
	margin:0px;
	padding:0px;
}

/* Grow(sombreado) para imagenes 
Basado en http://www.kadazuro.com/blog/archives/000067.php
*/

wrap0, .wrap1, .wrap2, .wrap3 {
   display:inline-table;
   /* \*/display:block;/**/
   }
.wrap0 {
 	float:left;
 	background:url(images/shadowt.gif) left top no-repeat;
  }	
.wrap1 {
 	position:relative;
 	background:url(images/shadow.gif) right bottom no-repeat;
 	top:10px;
 	left:10px;
   }	
.wrap2 {
 	position:relative;
 	background:url(images/corner_bl.gif) left bottom no-repeat;
 	bottom:0;
 	left:-10px;
   }
.wrap3 {
 	position:relative;
 	top: -10px;
 	left:10px;
 	right:0;
 	padding:10px 10px 0 0;
 	background:url(images/corner_tr.gif) right top no-repeat;
   }
.wrap3 img {
 	display:block;
 	border:2px solid #FFFFFF;
   } 


/* CSS DE COMAS
Basado en www.consol.org.mx
modicar este css jyr */

/* comas stuff */

#comas{
        width:785px;
        height: auto;
        margin-left:8px;
        padding:12px 0px 10px 0px;
        background-color: #ffffff;
        float:left;
}

/*


p.comas-error {        
	font-weight: bold;
	text-align: center;
	color: red;
}

p.comas-msg {        
	font-weight: bold;
	text-align: center;
}

.comas-table {
        padding: 4px;
        padding-bottom:0;
        border-collapse: separate;
        border-spacing: 0px;
        border: 0px solid #ddd;
        margin-bottom: 10px;
}
                                                                                                                                                             
.comas-table th {
        text-align: left;
        font-weight: bold;
        background: #fff;
        border-bottom: 3px solid #191;
        padding: 4px;
        padding-right: 8px;
}
                                                                                                                                                             
.comas-table th a {
        color: #000;
        text-decoration: none;
}
                                                                                                                                                             
.comas-table th a:hover {
        color: #f90;
}
                                                                                                                                                             
                                                                                                                                                             
.comas-table td {
        padding: 4px;
        color: #000;
        vertical-align: top;
        border-bottom: 1px solid #ddd;
}
                                                                                                                                                             
.comas-table tr:hover > td {
        background-color: #f6f6f6;
}
*/

/* Horario */

.sch_footer {
	background: i#999;
	padding-top: 40px;
	padding-bottom: 10px;
	color: #666;
	font-size: 10px;
	text-align: center
}

.sch_footer a {
	color: #333;
}

.sch_bleft {
	background: transparent url(images/sch_left.png) top left repeat-y;
	width: 48px; max-width: 48px; min-width: 48px;
}

.sch_bright {
	background: transparent url(images/sch_right.png) top right repeat-y;
	width: 50px; max-width: 50px; min-width: 50px; 
}

.sch_btopleft {
	background: transparent url(images/sch_topleft.png) top left no-repeat;
	width: 48px; max-width: 48px; min-width: 48px; 
	height: 40px; max-height: 40px; min-height: 40px; 
}

.sch_btopright {
        background: transparent url(images/sch_topright.png) top right no-repeat;
        width: 50px; max-width: 50px; min-width: 50px;
        height: 40px; max-height: 40px; min-height: 40px;
}

.sch_bbotleft {
        background: transparent url(images/sch_botleft.png) top left no-repeat;
        width: 48px; max-width: 48px; min-width: 48px;
        height: 46px; max-height: 46px; min-height: 46px;
}

.sch_bbotright {
        background: transparent url(images/sch_botright.png) top right no-repeat;
        width: 50px; max-width: 50px; min-width: 50px;
        height: 46px; max-height: 46px; min-height: 46px;
}

.sch_btop {
        background: transparent url(images/sch_top.png) top left repeat-x;
        height: 40px; max-height: 40px; min-height: 40px;
}

.sch_bbot {
        background: transparent url(images/sch_bot.png) top left repeat-x;
        height: 46px; max-height: 46px; min-height: 46px;
}



.sch_main {
	background: #fff url(images/sch_logo.png) top right no-repeat;
	font-size: 10px;
	text-align: left;
}

.sch_table {
	border: 1px solid #000;
	border-top: 2px solid #000;
	border-bottom: 0;
	border-collapse: collapse;
}

.sch_table a {
	color: #00f;
	text-decoration: none;
}

.sch_table a:hover {
	color: #00f;
	text-decoration: underline;
	border: 0px;
}

.sch_table th {
	color: #000;
	border-bottom: 3px solid #000;	
	background: #fff;
	color: #000;
	padding: 4px;
}

.sch_table td {
	border-bottom: 1px solid #000;
	padding: 4px;
	border-left: 1px solid #000;
}

.sch_table th.sch_hour {
	background: #fff;
	border-bottom: 3px solid #000;
	color: #000;
}

.sch_table td.sch_hour {
	background: #eeb;
	padding-left: 8px;
	padding-right: 8px;
	border-right: 1px solid #000;	
	font-weight: bold;
}

.sch_table tr:hover > td.sch_hour {
	background: #febe00;
	color: #fff;
}

.sch_table tr:hover > td.sch_hour:hover {
	background: #eeb;
	color: #000;
}

.track0 { background: #fe0; color: #000; font-weight: bold ; }
.nom0 { border-left: 15px solid #fe0; color: #000; padding-right: 30px; }

.track1 { background: #d3f8a6; }
.nom1 { border-left: 15px solid #d3f8a6; color: #000; padding-right: 30px; }

.track2 { background: #f6eebb }
.nom2 { border-left: 15px solid #f6eebb; color: #000; padding-right: 30px; }

.track3 { background: #cbe8d6; }
.nom3 { border-left: 15px solid #cbe8d6; color: #000; padding-right: 30px; }

.track4 { background: #d8c6b8; }
.nom4 { border-left: 15px solid #d8c6b8; color: #000; padding-right: 30px; }

.track5 { background: #fcd7d7; }
.nom5 { border-left: 15px solid #fcd7d7; color: #000; padding-right: 30px; }

.trackempty { background: #f0f0f0; }

.trackother { font-weight: bold; background: #cbf; }


